html{
  color:aquamarine;

}
body{
  background-color: aquamarine;
  color:whitesmoke;
  text-align: inherit;
  height: 4em;
  padding-top: 2em;
  background-color: grey;
  border-top: 3px;
  border-bottom: 3px;
  margin-top: 1.0em;
    
}
h1{
    color: sienna;
}
h2{
    color: sienna;

}

.static-info, form, p,.weather-city{
margin-top: 1em;
margin-right: auto;
margin-bottom: auto;
margin-left:5em;
color: #13D7DA;
}
.weatherZone{
color:coral;
margin-left: 5.0em;
}
.temp{
margin-left: 5em;
}

.info{
margin-left: 5em;
}

.style {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.style {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
